@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 426px;
    --breakpoint-2xs: 376px;
    --breakpoint-3xs: 300px;
    --color-light-primary: oklch(39.8% 0.195 277.366);
    /* da definire dopo test wcag */
    --color-bright-primary: oklch(78.5% 0.115 274.713);
    /* da definire dopo test wcag */
    --color-light-accent: oklch(0.496 0.265 301.92);
    /* da definire dopo test wcag */
    --color-bright-accent: oklch(90.2% 0.063 306.703);
    /* da definire dopo test wcag */
    --color-light-error: oklch(0.444 0.177 26.9);
    /* da definire dopo test wcag */
    --color-bright-error: oklch(0.7353 0.1624 20.51);
    /* da definire dopo test wcag */
    --color-primary-light-soft: oklch(89.4% 0.057 293.283 / 0.9);
    /* da definire dopo test wcag */
}

html,
body {
    @apply text-slate-50 dark:text-neutral-950;
}