@import "tailwindcss";
@source "../../../packages/qwik-core/src";

/* Font per Brand: Ysabeau e Tenor Sans */

@font-face {
  font-family: 'Ysabeau';
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
  src: url('/fonts/Ysabeau-BoldItalic-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2000-200D, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+205F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212;
}

@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url('/fonts/Ysabeau-Bold-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2000-200D, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+205F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212;
}

@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/TenorSans-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-B1, U+B4-B8, U+BA-BB, U+BF-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122;
}


/* Font per contenuto: Newsreader, Source Serif 4, Literata e Spectral */

@font-face {
  font-family: 'Newsreader 16pt';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url('/fonts/Newsreader16pt-Italic-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2010, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Newsreader 16pt';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('/fonts/Newsreader16pt-Regular-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2010, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('/fonts/SourceSerif4Italic-Italic-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2002-2007, U+2009-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2025-2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2047-2049, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('/fonts/SourceSerif4Roman-Regular-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2002-2007, U+2009-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2025-2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2047-2049, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('/fonts/Literata-Italic-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('/fonts/Literata-Regular-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Spectral-Bold-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Spectral-BoldItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Spectral-ExtraBold-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral ExtraBold';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Spectral-ExtraBoldItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral ExtraLight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Spectral-ExtraLight-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral ExtraLight';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Spectral-ExtraLightItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Spectral-Italic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Spectral-Light-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral Light';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Spectral-LightItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Spectral-Medium-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral Medium';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Spectral-MediumItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Spectral-Regular-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Spectral-SemiBold-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Spectral SemiBold';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Spectral-SemiBoldItalic-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-AC, U+AE-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}


/* Font per link Sezione Hero: Fraunces, Bricolage Grotesque e Bree Serif */

@font-face {
  font-family: 'Fraunces';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Fraunces-9ptBlackItalic-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Fraunces-9ptBlack-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2010, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Bricolage Grotesque 96pt ExtraBold';
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url('/fonts/BricolageGrotesque-96ptExtraBold-subset.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-A3, U+A5-AC, U+AE-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+304, U+308, U+2000-200B, U+2013-2014, U+2016, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212;
}

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/BreeSerif-Regular-subset.woff2') format('woff2');
  unicode-range: U+0, U+D, U+20-7E, U+A0-A3, U+A5-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


/* Font sans-serif per evenienza: Roboto */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url('/fonts/Roboto-Italic-subset.woff2') format('woff2');
  unicode-range: U+0, U+2, U+D, U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-200B, U+2010-2011, U+2013-2015, U+2017-201E, U+2020-2022, U+2025-2027, U+2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url('/fonts/Roboto-Regular-subset.woff2') format('woff2');
  unicode-range: U+0, U+2, U+D, U+20-7E, U+A0-FF, U+131, U+152-153, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-200B, U+2010-2011, U+2013-2015, U+2017-201E, U+2020-2022, U+2025-2027, U+2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FEFF, U+FFFD;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Brakpoint */
  --breakpoint-xs: 426px;
  --breakpoint-2xs: 376px;
  --breakpoint-3xs: 300px;
  /* Colori */
  --color-light-primary: oklch(0.424 0.199 265.64);
  --color-bright-primary: oklch(78.5% 0.115 274.713);
  --color-light-accent: oklch(0.432 0.232 292.76);
  --color-bright-accent: oklch(90.2% 0.063 306.703);
  --color-light-error: oklch(0.444 0.177 26.9);
  --color-bright-error: oklch(0.7353 0.1624 20.51);
  --color-primary-light-soft: oklch(89.4% 0.057 293.283 / 0.9);
  --color-light-success: oklch(0.432 0.095 166.91);
  --color-bright-success: oklch(0.845 0.143 164.98);
  --color-light-warning: oklch(0.4606 0.1038 58.04);
  --color-bright-warning: oklch(0.905 0.182 98.11);
  /* Font */
  --font-body: Tenor Sans, sans-serif;
  --font-brand: Ysabeau, sans-serif;
  --font-hero-link: Fraunces, sans-serif;
  --font-sans: Roboto, sans-serif;
}

html,
body {
  @apply bg-slate-50 text-neutral-950 dark:bg-neutral-950 dark:text-slate-50 font-body;
}

@layer components {
  .site-header {
    @apply sticky top-0 z-30 flex h-[64.5px] shrink-0 flex-col justify-center border-b-[0.1px] border-indigo-300 bg-indigo-50/80 py-3 dark:border-slate-500 dark:bg-neutral-950/80 backdrop-blur-lg;
  }

  .a-link {
    @apply text-light-accent decoration-light-accent underline-offset-4 transition-colors hover:text-violet-500 focus-visible:outline-2 focus-visible:outline-offset-3 focus-visible:outline-violet-500 dark:text-bright-accent dark:decoration-bright-accent dark:hover:text-violet-200 dark:focus-visible:outline-indigo-300 hover:underline;
  }
}